<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      きっと見つかる
    </h2>
    <p class='service-explain'>
      自分の音楽を売ることができて
    </p>
    <p class='service-explain'>
      気に入った音楽は買うこともできる
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%#= "商品一覧" %>
  <div class='item-contents'>
    <h2 class='title'>~ 新規楽曲、BGM一覧 ~</h2>
    <%= link_to '新規投稿順 ⇨', "#", class: "subtitle" %>
    <ul class='item-lists'>
    
      <% @musics.each do |music| %>
        <li class="list">
          <%= link_to music_path(music.id) do %>
          <%= image_tag "radio.png", :size => '100x100' %>
            <div class='item-img-content'>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= "曲名: #{music.musics_name}" %>
                </h3>
                <h2 class="items-name">
                  <%= "作曲者: #{music.user.nickname}" %>
                </h2>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<% if user_signed_in? %>
  <%= link_to(new_music_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿</span>
    <%= image_tag 'onnpu.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>
<%= render "shared/footer" %>