<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      まだ見ぬ音楽との出会いを
    </h2>
    <p class='service-explain'>
      自分の音楽を売ることができて
    </p>
    <p class='service-explain'>
      気に入った音楽は買うこともできる
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>


  <%#= "商品一覧" %>
  <div class='item-contents'>
    <h2 class='title'>販売中楽曲、BGM</h2>
    <%= link_to '新規投稿楽曲', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @musics.sound.each do |file| %>
        <li>
          <%= image_tag file %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_music_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>