<%= render "shared/header_second" %>
<div class="items-sell-contents">
  <header class="items-sell-header">
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">楽曲の情報を入力</h2>
    <%= form_with model: @music, local: true do |f| %>

    
    <%= render 'shared/error_messages', model: f.object %>
    <%# 音楽ファイル %>
    <div class="img-upload">
      <div class="weight-bold-text">
        音楽ファイル(MP3ファイルのみ)
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :sound, id:"item-image" %>
      </div>
    </div>
    <%# /音楽ファイル %>
    <%# 楽曲と説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        曲名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :musics_name, class:"items-text", id:"item-name", placeholder:"楽曲名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          曲の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"楽曲の説明欄です。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /楽曲と説明 %>

    <%# 楽曲の詳細 %>
    <div class="items-detail">
      <div class="weight-bold-text">楽曲の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          イメージ
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:image_id, Image.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <%# /楽曲の詳細 %>

    <%# /販売価格%>
    <div class="sell-price">
      <div class="weight-bold-text question-text">
        <span>販売価格<br>(¥300〜9,999,999)</span>
        <a class="question" href="#">?</a>
      </div>
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:'item-price', placeholder:"半角数字で入力" %>
        </div>
        
      </div>
    </div>
    <%# /販売価格%>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

<%= render "shared/footer" %>

</div>