<%= render "shared/header_second" %>  
  
  <div class="item-show">
    <h1>
      検索結果
    </h1>
  </div>
  <div class="item-price-box">
    <%# 検索結果の個数で条件分岐 %>
    <% if @results.length !=0 %>
      <% @results.each do |result| %>
      <div class="item-price-box">
        <span class="item-price">
          <%= "曲名: #{result.musics_name}" %>
        </span>
      </div>
      <audio src="<%= rails_blob_path(result.sound) %>" type="audio/mp3" controls></audio>
      <h2 class="name">
        <%= link_to "作曲者: #{result.user.nickname}", user_path(result.user) %>
      </h2>
        <li>
          <%= result.genre.name %>
          <%= result.image.name %>
        </li>
      <% end %>
    <% else %>
      該当する商品はありません
    <% end %>
    <%= link_to 'トップページへ戻る', root_path %>
