<%= render "shared/header_second" %>
  <%# <%= 曲の詳細 %>
  <div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= link_to "作曲者: #{@music.user.nickname}", user_path(@music.user) %>
    </h2>
    <div class="item-price-box">
      <span class="item-price">
        <%= "曲名: #{@music.musics_name}" %>
      </span>
    </div>
  <% if user_signed_in? %>
    <% if current_user.id == @music.user_id %>
      <%= link_to "編集する", edit_music_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除する", music_path, method: :delete, class:"item-destroy" %>
      <audio src="<%= rails_blob_path(@music.sound) %>" type="audio/mp3" controls controlslist="nodownload"></audio>
    <% else %>
      <audio src="<%= rails_blob_path(@music.sound) %>" type="audio/mp3" controls controlslist="nodownload"></audio>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <div class="item-explain-box">
    <%= link_to "楽曲の購入はこちら", music_orders_path %>
    </div>
  <% else %>
    <div class="item-explain-box"> 
    <p>楽曲の視聴は会員登録してください</p>
    <%= link_to "新規登録はこちら", new_user_registration_path %>
    </div>
  <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">曲の説明</th>
          <td class="detail-value"><%= @music.description %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @music.genre.name %></td>
        </tr>
        <tr>
          <th class="detail-item">雰囲気</th>
          <td class="detail-value"><%= @music.image.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="top-page-link">
      <%= link_to 'トップページへ戻る', root_path %>
    </div>
  </div>
  <%# /曲の詳細 %>
</div>

<%= render "shared/footer" %>